.git
.gitignore
.env
.env.*
__pycache__/
*.py[cod]
celerybeat-schedule

media/
profiles/

helm/
nginx/

firebase-service-account.json
firebase-service-account.example.json

patch_nginx.py
clean_nginx.conf
