# Django / app
GOOGLE_CLIENT_ID=your_google_web_client_id
EMAIL_HOST_USER=your_smtp_username
EMAIL_HOST_PASSWORD=your_smtp_app_password
DEFAULT_FROM_EMAIL=your_from_email
ORS_API_KEY=your_openrouteservice_api_key
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# AWS / storage / queue
AWS_REGION=eu-north-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_STORAGE_BUCKET_NAME=your_s3_bucket_name
AWS_SQS_QUEUE_URL=your_sqs_queue_url

# Firebase Admin
FIREBASE_SERVICE_ACCOUNT_PATH=firebase-service-account.json
